
<ul class="ul-navbar">
  <li class="navbar-item">
    {{#link-to "red"}}Red{{/link-to}}
  </li>
  <li class="navbar-item">
    {{#link-to "orange"}}Orange{{/link-to}}
  </li>
  <li class="navbar-item">
    {{#link-to "yellow"}}Yellow{{/link-to}}
  </li>
  <li class="navbar-item">
    {{#link-to "green"}}Green{{/link-to}}
  </li>
  <li class="navbar-item">
    {{#link-to "blue"}}Blue{{/link-to}}
  </li>
  <li class="navbar-item">
    {{#link-to "indigo"}}Indigo{{/link-to}}
  </li>
  <li class="navbar-item">
    {{#link-to "violet"}}Violet{{/link-to}}
  </li>
</ul>
