* {
    padding: 0;
    margin: 0;
}

*,
*:after {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    header {
        padding: 0;
    }
    main {
        min-height: 80vh;
    }
    footer {
        border-top: 1px solid #aeaeae;
    }
}

nav {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    @media screen and (min-width: 992px) {
        justify-content: flex-end;
        flex-flow: row nowrap;
    }
    a {
        align-items: center;
        display: flex;
        flex-flow: column;
        min-width: 100%;
        padding: 1em;
        text-decoration: none;
        text-transform: uppercase;
        &.brand {
            @media screen and (min-width: 768px){
                left: 0;
                position: absolute;
            }
        }
        &:hover,
        :focus {
            cursor: pointer;
        }
        @media screen and (min-width:768px) {
            min-width: 100px;
        }
    }
}

h1 {
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 0.5em;
}

p {
    padding: 0 0 0 1em;
}

h2 {
    clear: both;
    display: block;
    font-size: 2em;
    margin: 0 auto 1em auto;
    text-align: center;
    width: 100%;
}

.img-art {
    display: block;
    height: auto;
    margin: 1em auto;
    max-width: 100%;
    width: 600px;
}

section {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 50px;
    width: 60%;
}

blockquote {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-family: 'Itim', cursive;
    font-size: 1.5em;
    position: relative;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: center;
    &:after {
        background: #fff;
        bottom: calc(100% - 20px);
        color: #ccc;
        content: open-quote;
        font-family: cursive;
        font-size: 65px;
        height: 55px;
        left: 50%;
        line-height: normal;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        width: 55px;
    }
    p {
        padding: 20px;
    }
}
.list-cards {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    li {
        margin: auto;
        padding: 0.804em;
        img {
            display: block;
            max-width: 100%;
            width: 300px;
            height: auto;
        }
    }
}