{{a11y-navbar}}
<main id="my-ember-app">
  <h1>Roy G. Biv</h1>
  <p>The person. The artist. The phenomenon.</p>
  {{outlet}}
</main>
<footer>
  <p>
    <small>Repository <a href="https://github.com/melsumner/a11y-app">on GitHub</a>.</small>
  </p>
</footer>
