<section aria-labelledby="h2-blue">
  <h2 id="h2-blue">Blue</h2>
  <blockquote>
    <p>Blue...the color of ambiturners.</p>
  </blockquote>  <img src="/images/blue.jpg" class="img-art" alt="blue" />
  {{outlet}}
</section>