<section aria-labelledby="h2-green">

  <h2 id="h2-green">Green</h2>
    <blockquote>
    <p>Green...the color of ambiturners.</p>
  </blockquote>
  <img src="/images/green.jpg" class="img-art" alt="" />
  {{outlet}}
</section>