<h1>Meet Roy- The artist for ambiturners</h1>
<p>Roy G. Biv is an artist for our time, dedicated to artistically representing the ambiturner actors/models who are
    determined to find out if there is more to life than being really really really ridiculously good looking.</p>
<h2 id="h2-latest">Latest Works</h2>
<ul aria-labelledby="h2-latest" class="list-cards">
    <li><img src="/images/red.jpg" alt="art representing the color red" /></li>
    <li><img src="/images/orange.jpg" alt="art representing the color orange" /></li>
    <li><img src="/images/yellow.jpg" alt="art representing the color yellow" /></li>
    <li><img src="/images/green.jpg" alt="art representing the color green" /></li>
    <li><img src="/images/blue.jpg" alt="art representing the color blue" /></li>
    <li><img src="/images/indigo.jpg" alt="art representing the color indigo" /></li>
    <li><img src="/images/violet.jpg" alt="art representing the color violet" /></li>
</ul>