<section aria-labelledby="h2-indigo">
  <h2 id="h2-indigo">Indigo</h2>
    <blockquote>
    <p>Indigo...the color of ambiturners.</p>
  </blockquote>
  <img src="/images/indigo.jpg" class="img-art" alt="" />
  {{outlet}}
</section>