<section aria-labelledby="h2-orange">

  <h2 id="h2-orange">Orange</h2>
  <blockquote>
    <p>Orange...the color of ambiturners.</p>
  </blockquote>
  <img src="/images/orange.jpg" class="img-art" alt="" />
  {{outlet}}
</section>