<section aria-labelledby="h2-section">
  <h2 id="h2-red">Red</h2>
  <blockquote>
    <p>Red...the color of ambiturners.</p>
  </blockquote>
  <img src="/images/red.jpg" class="img-art" alt="" />
  {{outlet}}
</section>