<section aria-labelledby="h2-violet">
  <h2 id="h2-violet">Violet</h2>
  <blockquote>
    <p>Violet...the color of ambiturners.</p>
  </blockquote>
  <img src="/images/violet.jpg" class="img-art" alt="violet" />
  {{outlet}}
</section>