<section aria-labelledby="h2-yellow">
  <h2 id="h2-yellow">Yellow</h2>
  <blockquote>
    <p>Yellow...the color of ambiturners.</p>
  </blockquote>
  <img src="/images/yellow.jpg" class="img-art" alt="yellow" />
  {{outlet}}
</section>